$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$base-size: 20px;
$almost-black: #121212;
$color-1: #3146DE; 
$color-2: #5437FA; 
$color-3: #4287f5; 
$color-4: #31A1DE; 
$color-5: #37E9FA; 


*{
  margin: 0;
  padding: 0;
}

.App {
  header {
    h1 {
      text-align: center;
      font-family: $font-stack;
      font-size: $base-size * 3;
      color: $color-1;
    }
    height: 150px;
    background-color: #eee;
    width: 100%;
  }
  main {
    position: absolute;
    top: 150px;
    bottom: 100px;
    width: 100%;
  }
  nav {
    a {
      font-size: $base-size;
      font-family: $font-stack;
      font-size: $base-size * 1.5;
      color: $color-2;
      margin: 0 100px;
    }
    a.selected {
      color: $color-2;
      // font-size: $base-size * 1.5;
      font-weight: bold;
    }
    margin-top: 40px;
  }
  footer {
    height: 100px;
    background-color: #eee;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}